<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}"/>
        <meta name="author" content="{{ author }}"/>
        <link href="/css/styles.css" rel="stylesheet"/>
        {% block styles %}
            <style></style>
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <script src="/js/index.js"></script>
</html>
{% block scripts %}<script></script>{% endblock %}