{% layout "./templates/baseof.liquid" %}
{% block content %}
    <pre class="mono">
        ***** ***                             ***** *                  ***
        ******  * **    *                     ******  *          *      ** ***
       **   *  *  **   ***                   **   *  *          ***    **   ***
      *    *  *   **    *                   *    *  *            *     **
          *  *    *              ****           *  *                   **
         ** **   *    ***       * ***  *       ** **           ***     ******      ***
         ** **  *      ***     *   ****        ** **            ***    *****      * ***
         ** ****        **    **    **         ** **             **    **        *   ***
         ** **  ***     **    **    **         ** **             **    **       **    ***
         ** **    **    **    **    **         ** **             **    **       ********
         *  **    **    **    **    **         *  **             **    **       *******
            *     **    **    **    **            *              **    **       **
        ****      ***   **    *******         ****           *   **    **       ****    *
       *  ****    **    *** * ******         *  *************    *** * **        *******
      *    **     *      ***  **            *     *********       ***   **        *****
      *                       **            *
       **                     **             **
                               **
    </pre>
    <h2>{{ description }} </h2>
    <ul>
        {%- for team in teams %}
            <li>
                <a href="/{{ team.slug }}">{{ team.name }}</a>
            </li>
        {%- endfor %}
    </ul>
{% endblock %}
